[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GregoryQuadrature"]
	path = GregoryQuadrature
	url = https://github.com/dhetting/gregoryquadrature
